/*  ------------------------------------------
               Fluidcord (POWERCORD)
                      v0.3.1
                - leeprky#2063 -
    ------------------------------------------  */


@import url(https://leeprky.github.io/themes/BaseStuff/alt-color.css);
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);

/*  ----------------------------
         GLASSCORD
    ----------------------------  */

:root{
	--glasscord-win-blur: transparent;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-titlebar: default;  
}
body{
    background-color: transparent;
}
#app-mount{
	background-color: rgba(2, 2, 2, 0.007);
	border-radius: 10px 10px 10px 10px; 
	border-color: transparent;
}
.sidebar-2K8pFh {
  filter: opacity(75%)
}

.platform-osx .container-1r6BKw {
  -webkit-app-region: none;
}

/*  ----------------------------
       GLASSCORD SUPPORT
    ----------------------------  */

/*  ------------------------------------------
         Fluidcord Customisable Configuration
                    v0.3.1
               -leeprky#2063-
    ------------------------------------------  */

/*
USRBG Profile Modals by Tropix126.
=========================================== */

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/*
USRBG Popouts by Tropix126.
=========================================== */

.theme-dark, .theme-light {
  --text-warning: #faa61a;
  --text-danger: #ed4245;

  --info-positive-background: rgba(59,165,92,0.1);
  --info-positive-foreground: #3ba55c;
  --info-warning-background: rgba(250,166,26,0.1);
  --info-warning-foreground: #faa61a;
  --info-danger-background: rgba(237,66,69,0.1);
  --info-danger-foreground: #ed4245;

  --status-positive-background: #3ba55c;
  --status-positive-text: #fff;
  --status-warning-background: #faa61a;
  --status-danger-background: #ed4245;

  --status-danger-text: #fff;
  --focus-primary: #00b0f4;
}

.theme-dark {

  --alt-color: 114,137,218; /* RGB */
  --alt-color2: #6D84D1; /* HEX */
  --modal-normal-primary-color: var(--background-secondary);
  --modal-normal-secondary-color: var(--background-secondary);
  --serverlist-background: var(--background-secondary);
  --memberlist-background: var(--background-secondary);

  --toast-background: #2f3136;
  --toast-header: #202225;
  --toast-contents: #36393f;
  --toast-box-shadow: rgba(0, 0, 0, .2);
  --toast-border: rgba(28, 36, 43, .6);
  --spotify-color: #1ed860;
  
  --app-background: var(--background-secondary);

  --header-primary: #fff;
  --header-secondary: #b9bbbe;

  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #00b0f4;
  --text-positive: #4fdc7b;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;

  --background-primary: #36393f;
  --background-secondary: #2f3136b6;
  --background-secondary-alt: #292b2fb4;
  --background-tertiary: #20222500;
  --background-accent: #4f545c;
  --background-floating: #18191c;

  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);

  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: rgba(0,176,244,0.1);
  --info-help-foreground: #00b0f4;
  --info-help-text: #fff;
  --status-warning-text: #000;

  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;

  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);

  --logo-primary: #fff;
  --control-brand-foreground: #a5b3e7;

  --background-mentioned: rgba(250,166,26,0.1);
  --background-mentioned-hover: rgba(250,166,26,0.08);
  --background-message-hover: rgba(4,4,5,0.07);

  --channels-default: #8e9297;

  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #40444b;

  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;

  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;

  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);

  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

.theme-light {

  --alt-color: 114,137,218; /* RGB */
  --alt-color2: #6D84D1; /* HEX */
  
  --modal-normal-primary-color: var(--background-secondary);
  --modal-normal-secondary-color: var(--background-secondary);
  --serverlist-background: var(--background-secondary);
  --memberlist-background: var(--background-secondary);

  --toast-background: #fff;
  --toast-header: #e3e5e8;
  --toast-contents: #f2f3f5;
  --toast-box-shadow: rgba(0, 0, 0, .1);
  --toast-border: rgba(28, 36, 43, .06);
  --spotify-color: #1ed860;

  --app-background: var(--background-secondary);


  --header-primary: #060607;
  --header-secondary: #4f5660;

  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-link: #0067e0;
  --text-positive: #3ba55c;

  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #060607;
  --interactive-muted: #c7ccd1;

  --background-primary: rgba(255, 255, 255, 0.966);
  --background-secondary: #f2f3f5ab;
  --background-secondary-alt: #f2f3f5ab;
  --background-tertiary: #e3e5e800;
  --background-accent: #747f8d;
  --background-floating: #fff;

  --background-mobile-primary: #f8f9f9;
  --background-mobile-secondary: #fff;
  --background-modifier-hover: rgba(116,127,141,0.08);
  --background-modifier-active: rgba(116,127,141,0.16);
  --background-modifier-selected: rgba(116,127,141,0.24);
  --background-modifier-accent: rgba(6,6,7,0.08);

  --info-positive-text: #000;
  --info-warning-text: #000;
  --info-danger-text: #000;
  --info-help-background: rgba(0,103,224,0.1);
  --info-help-foreground: #0067e0;
  --info-help-text: #000;

  --status-warning-text: #fff;
  --scrollbar-thin-thumb: rgba(79,84,92,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #ccc;
  --scrollbar-auto-track: #f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
  --scrollbar-auto-scrollbar-color-track: #f2f3f5;

  --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
  --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.16);

  --logo-primary: #7289da;
  --control-brand-foreground: #7289da;

  --background-mentioned: rgba(250,166,26,0.1);
  --background-mentioned-hover: rgba(250,166,26,0.2);
  --background-message-hover: rgba(6,6,7,0.02);

  --channels-default: #6a7480;

  --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
  --channeltextarea-background: #ebedef;

  --activity-card-background: #fff;
  --textbox-markdown-syntax: #6a7480;

  --deprecated-card-bg: #f8f9f9;
  --deprecated-card-editable-bg: rgba(246,246,247,0.6);
  --deprecated-store-bg: #f8f9f9;

  --deprecated-quickswitcher-input-background: #fff;
  --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);

  --deprecated-text-input-bg: rgba(79,84,92,0.02);
  --deprecated-text-input-border: rgba(79,84,92,0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix: #b9bbbe;
}

.guilds-1SWlCJ{background-color:var(--serverlist-background)}
.members-1998pB,.members-1998pB>div{background-color:var(--memberlist-background)}
.powercord-toast .contents{background-color:var(--toast-content)}

.bg-h5JY_x {
  background-color: var(--app-background);
}
.platform-win .sidebar-2K8pFh {
  border-radius: 0px;
  bottom: 10px;
}

/*  ----------------------------------------------------
                  Optional Features
        Add A "/*" On The Lines Below The Comments
                  To Disable Them
    ----------------------------------------------------  */

/* --- */
/* Optionals End */
/* ----- */

/*  ----------------------------------------------------
         ANYTHING ELSE YOU WANT TO ADD GOES BELOW
               THIS IS FOR DEBUGGING ETC
                    v0.3.1 (Fluidcord)
    ----------------------------------------------------  */

/* FluidChat */
.markup-2BOw-j:not(.slateTextArea-1Mkdgw){
  padding-bottom:8px;
  padding-top:8px; 
  padding-right:1vh !important;
  padding-left:1vh !important;
  border-radius: 10px;
  white-space: pre-wrap !important;
  box-sizing: border-box !important;
}

[data-is-author-self="true"] .avatar-1BDn8e, [data-is-author-self="true"] .headerText-3Uvj1Y   {
  display:none;
}
.timestamp-3ZCmNB{
  position:absolute;
}
[data-is-author-self="true"] .contents-2mQqc9, [data-is-author-self="true"] .reactions-12N0jA {
  display: flex;
  flex-direction: row-reverse; 
  flex-wrap: wrap-reverse;
}
.theme-light [data-is-author-self="true"] .markup-2BOw-j {
  background-color: #858585 !important;
  color: #fafafa;
  margin-left: 10% !important;
}
.theme-dark [data-is-author-self="true"] .markup-2BOw-j {
  background-color: #f7f3f3 !important;
  color: #3a3a3a;
  margin-left: 10% !important;
}

[data-is-author-self="false"] .contents-2mQqc9 {
  flex-direction: row;
  max-width: 100% !important;
  margin-left: 10px;
}
.theme-dark [data-is-author-self="false"] .markup-2BOw-j {
  background-color: #555555 !important;
  color: #dfdfdf;
  margin: 0 !important;
  margin-right: 10% !important;
  display: inline-block;
}
.theme-light [data-is-author-self="false"] .markup-2BOw-j {
  background-color: #ECECEC !important;
  color: #414040;
  margin: 0 !important;
  margin-right: 10% !important;
  display: inline-block;
}


[data-is-author-self="true"] .container-1ov-mD {
  display: flex;
  flex-direction: row-reverse !important; 
}

  .slateTextArea-1Mkdgw {
  position:relative !important;
}
.repliedMessage-VokQwo:before {
  display: none;
}
.username-1A8OIy {
  display: none;
}
.avatar-1BDn8e {
  left: 16px;
  margin-top: calc(4px - .250rem) !important;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.chatContent-a9vAAp {
  margin-left: 20px;
}
.cozy-3raOZG .header-23xsNx {
  display: none;
}

/* TitleBar */
.titleBar-AC4pGV > *:nth-child(2):hover {background-color: #b64537;}
.titleBar-AC4pGV > *:nth-child(3):hover {background-color: #d6ac2c;}
.titleBar-AC4pGV > *:nth-child(4):hover {background-color: #24d324;}
.container-2lgZY8 {margin-top: 10px;}
.wordmark-2iDDfm:after {
  color: rgb(247, 245, 245);
  content: "Discord";
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  width: 4000px;
  top: 8.8px;
  left: 11px;
}
.theme-light .wordmark-2iDDfm:after {color: rgb(48, 48, 48);}
.theme-dark .wordmark-2iDDfm:after {color: rgb(247, 245, 245);}
.wordmark-2iDDfm > svg {
  width: 0px;
}
.winButton-iRh8-Z {
  position: relative;
  top: -4px;
  cursor: pointer;
  width: 32px;
  height: 30px;
  pointer-events: auto;
  -webkit-app-region: no-drag;
}

/* Chat Header */
.container-1r6BKw.themed-ANHk51 {
  height: 60px;
}



/* Leftpart */
/*
.platform-win .sidebar-2K8pFh {
  margin-top: 280px;
}
.tree-2wKJdG, .guilds-1SWlCJ {

}

/* Member List */
.content-yTz4x3 > div:nth-child(2) {
  order:-1;
}
.wrapper-3t9DeA {
  width: 62px;
  height: 62px;
  position: relative;
  border-radius: 00%;
}
.mask-1l8v16.svg-2V3M55 {
  display: block;
  right: -20px;
  bottom: -10px;
  width: 55px;
  height: 55px;
}
.member-3-YXUe.container-2Pjhx-.clickable-1JJAn8 .layout-2DM8Md, .selected-aXhQR6 .layout-2DM8Md {
  height: 60px;
}
.wrapper-3t9DeA, .avatar-3uk_u9 {
  width: 15px;
  margin: 0px;
  margin-left: 20px;
}
.content-3QAtGj {
  margin-left: 35px;
}

/* UserInfoSection */
.avatarWrapper-2yR4wp[aria-label="Set Status"] {
  display: none;
}

