/*  ------------------------------------------
               Fluidcord (POWERCORD)
                      v0.1
                - leeprky#2063 -
    ------------------------------------------  */

/*  ----------------------------
         GLASSCORD
    ----------------------------  */


/*  ----------------------------
       GLASSCORD SUPPORT
    ----------------------------  */

/*  ------------------------------------------
         Fluidcord Customisable Configuration
                    v0.1
               -leeprky#2063-
    ------------------------------------------  */

/*
USRBG Profile Modals by Tropix126.
=========================================== */

@import url('https://discord-custom-covers.github.io/usrbg/dist/usrbg.css');

.root-SR8cQa {
  transform: translateZ(0);
}
.header-QKLPzZ .wrapper-3t9DeA::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  pointer-events: none;
  background: var(--user-background) center/cover no-repeat;
  -webkit-mask: linear-gradient(black, transparent 80%);
}

.headerInfo-30uryT,
.tabBarItem-1b8RUP,
.activity-1ythUs {
  z-index: 1;
  position: relative;
}

.userPopout-3XzG_A {
	transform:translateZ(0);
}

.userPopout-3XzG_A .wrapper-3t9DeA::after {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	pointer-events: none;
	opacity: .5;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: var(--user-popout-position) center;
	background-image: var(--user-background);
	-webkit-mask-image: linear-gradient(#000, transparent);
}

.userPopout-3XzG_A  .header-2BwW8b,
.userPopout-3XzG_A  .scroller-2FKFPG,
.userPopout-3XzG_A  .footer-1fjuF6 {
	z-index: 1;
}

/*
USRBG Popouts by Tropix126.
=========================================== */

/*  ----------------------------------------------------
                  Optional Features
        Add A "/*" On The Lines Below The Comments
                  To Disable Them
    ----------------------------------------------------  */

/* --- */
/* Optionals End */
/* ----- */

/*  ----------------------------------------------------
         ANYTHING ELSE YOU WANT TO ADD GOES BELOW
               THIS IS FOR DEBUGGING ETC
                    v3.0 (Fluidcord)
    ----------------------------------------------------  */