/**
 * @name Fluidcord
 * @author Leeprky
 * @version 0.4.1
 * @description Fluidcord Concept
 * @source https://github.com/leeprky/Fluidcord
 * @updateUrl https://github.com/leeprky/Fluidcord/blob/main/support/bd/fluidcord.theme.css
 * @authorId 224524143482241035
 * @invite Ff3rqAYB89
 * @donate https://www.paypal.com/leeparkinson22
 * @website https://leeprky.github.io/
*/

    @import url("https://discord-custom-covers.github.io/usrbg/snippets/modals.css");
    @import url("https://discord-custom-covers.github.io/usrbg/snippets/userPopouts.css");

@import url(https://leeprky.github.io/snippits/coolsniipitsforthemes.css);
@import url(https://leeprky.github.io/themes/BaseStuff/alt-color.css);
@import url(https://ghostmander.github.io/discordfont/DiscordFont.css);
@import "https://leeprky.github.io/themes/Ovel/imports/07-extra/version.css";

/*  ----------------------------
         GLASSCORD
    ----------------------------  */

:root{
	--glasscord-win-blur: transparent;
	--glasscord-macos-vibrancy: fullscreen-ui;
	--glasscord-linux-blur: true;
	--glasscord-titlebar: default;  
}
body{
    background-color: transparent;
}
#app-mount{
	background-color: rgba(2, 2, 2, 0.007);
	border-radius: 10px 10px 10px 10px; 
	border-color: transparent;
}
.sidebar-2K8pFh {
  filter: opacity(75%)
}

.platform-osx .container-1r6BKw {
  -webkit-app-region: none;
}

/*  ----------------------------
       GLASSCORD SUPPORT
    ----------------------------  */
:root {--version: "v0.4.3"; --build: "42";--outdated_fluidcord-42: none;}
/*  ------------------------------------------
         Fluidcord Customisable Configuration
                    v0.4.2
               -leeprky#2063-
    ------------------------------------------  */

.theme-dark, .theme-light {
  --text-warning: #faa61a;
  --text-danger: #ed4245;

  --info-positive-background: rgba(59,165,92,0.1);
  --info-positive-foreground: #3ba55c;
  --info-warning-background: rgba(250,166,26,0.1);
  --info-warning-foreground: #faa61a;
  --info-danger-background: rgba(237,66,69,0.1);
  --info-danger-foreground: #ed4245;

  --status-positive-background: #3ba55c;
  --status-positive-text: #fff;
  --status-warning-background: #faa61a;
  --status-danger-background: #ed4245;

  --status-danger-text: #fff;
  --focus-primary: #00b0f4;
}

:root {
  --font-primary: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-display: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-code: Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter","DejaVu Sans Mono","Bitstream Vera Sans Mono","Liberation Mono","Nimbus Mono L",Monaco,"Courier New",Courier,monospace;
  --font-korean: Whitney,"Apple SD Gothic Neo","NanumBarunGothic","맑은 고딕","Malgun Gothic",Gulim,굴림,Dotum,돋움,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-japanese: Whitney,Hiragino Sans,"ヒラギノ角ゴ ProN W3","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,Osaka,"MS PGothic","Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-simplified: Whitney,"Microsoft YaHei New",微软雅黑,"Microsoft Yahei","Microsoft JhengHei",宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
  --font-chinese-traditional: Whitney,"Microsoft JhengHei",微軟正黑體,"Microsoft JhengHei UI","Microsoft YaHei",微軟雅黑,宋体,SimSun,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

:root {
  --avatar-border-radius: 50.5%;

  --HSL-server-icon-size: 54.5px;  /* Size of the server icons | DEFAULT: 40px */
  --HSL-server-spacing: 10px;  /* Spacing between each server icon | DEFAULT: 10px */
}

.theme-dark {

  --alt-color: 114,137,218; /* RGB */
  --alt-color2: #6D84D1; /* HEX */
  --modal-normal-primary-color: var(--background-secondary);
  --modal-normal-secondary-color: var(--background-secondary);
  --serverlist-background: rgba(255, 255, 255, 0);
  --memberlist-background: #2c2e33 !important;
  --status-bg: rgb(32, 32, 39);

  --toast-background: #2f3136;
  --toast-header: #202225;
  --toast-contents: #36393f;
  --toast-box-shadow: rgba(0, 0, 0, .2);
  --toast-border: rgba(28, 36, 43, .6);
  --spotify-color: #1ed860;
  
  --app-background: var(--background-secondary);

  --header-primary: #fff;
  --header-secondary: #b9bbbe;

  --text-normal: #dcddde;
  --text-muted: #72767d;
  --text-link: #40c9ff;
  --text-positive: #4fdc7b;
  --interactive-normal: #b9bbbe;
  --interactive-hover: #dcddde;
  --interactive-active: #fff;
  --interactive-muted: #4f545c;

  --background-primary: #36393f;
  --background-secondary: #2f3136b6;
  --background-secondary-alt: #292b2fb4;
  --background-tertiary: #20222500;
  --background-accent: #4f545c;
  --background-floating: #18191c;

  --background-mobile-primary: #36393f;
  --background-mobile-secondary: #2f3136;
  --background-modifier-hover: rgba(79,84,92,0.16);
  --background-modifier-active: rgba(79,84,92,0.24);
  --background-modifier-selected: rgba(79,84,92,0.32);
  --background-modifier-accent: hsla(0,0%,100%,0.06);

  --info-positive-text: #fff;
  --info-warning-text: #fff;
  --info-danger-text: #fff;
  --info-help-background: rgba(0,176,244,0.1);
  --info-help-foreground: #00b0f4;
  --info-help-text: #fff;
  --status-warning-text: #000;

  --scrollbar-thin-thumb: #202225;
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #202225;
  --scrollbar-auto-track: #2e3338;
  --scrollbar-auto-scrollbar-color-thumb: #202225;
  --scrollbar-auto-scrollbar-color-track: #2f3136;

  --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
  --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.24);

  --logo-primary: #fff;
  --control-brand-foreground: #a5b3e7;

  --background-mentioned: rgba(250,166,26,0.1);
  --background-mentioned-hover: rgba(250,166,26,0.08);
  --background-message-hover: rgba(4,4,5,0.07);

  --channels-default: #8e9297;

  --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
  --channeltextarea-background: #40444b;

  --activity-card-background: #202225;
  --textbox-markdown-syntax: #8e9297;

  --deprecated-card-bg: rgba(32,34,37,0.6);
  --deprecated-card-editable-bg: rgba(32,34,37,0.3);
  --deprecated-store-bg: #36393f;

  --deprecated-quickswitcher-input-background: #72767d;
  --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);

  --deprecated-text-input-bg: rgba(0,0,0,0.1);
  --deprecated-text-input-border: rgba(0,0,0,0.3);
  --deprecated-text-input-border-hover: #040405;
  --deprecated-text-input-border-disabled: #202225;
  --deprecated-text-input-prefix: #dcddde;
}

.theme-light {

  --alt-color: 114,137,218; /* RGB */
  --alt-color2: #6D84D1; /* HEX */
  --alt-color3: 227; /* HSL */
  
  --modal-normal-primary-color: rgb(255, 255, 255);
  --modal-normal-secondary-color: var(--background-secondary);
  --serverlist-background: rgba(0, 0, 0, 0.027);
  --memberlist-background: rgba(243, 233, 233, 0.164);
  --background2: rgba(255, 253, 253, 0.548);
  --status-bg: #fff;

  --toast-background: #fff;
  --toast-header: #e3e5e8;
  --toast-contents: #f2f3f5;
  --toast-box-shadow: rgba(0, 0, 0, .1);
  --toast-border: rgba(28, 36, 43, .06);
  --spotify-color: #1ed860;

  --app-background: var(--background-secondary);


  --header-primary: #060607;
  --header-secondary: #4f5660;

  --text-normal: #2e3338;
  --text-muted: #747f8d;
  --text-link: #88bfff;
  --text-positive: #3ba55c;

  --interactive-normal: #4f5660;
  --interactive-hover: #2e3338;
  --interactive-active: #060607;
  --interactive-muted: #c7ccd1;

  --background-primary: rgba(255, 255, 255, 0.596);
  --background-secondary: #f2f3f5ab;
  --background-secondary-alt: #f2f3f5ab;
  --background-tertiary: #e3e5e800;
  --background-accent: #747f8d;
  --background-floating: #fff;

  --background-mobile-primary: #f8f9f9;
  --background-mobile-secondary: #fff;
  --background-modifier-hover: rgba(116,127,141,0.08);
  --background-modifier-active: rgba(116,127,141,0.16);
  --background-modifier-selected: rgba(116,127,141,0.24);
  --background-modifier-accent: rgba(6,6,7,0.08);

  --info-positive-text: #000;
  --info-warning-text: #000;
  --info-danger-text: #000;
  --info-help-background: rgba(0,103,224,0.1);
  --info-help-foreground: #0067e0;
  --info-help-text: #000;

  --status-warning-text: #fff;
  --scrollbar-thin-thumb: rgba(79,84,92,0.3);
  --scrollbar-thin-track: transparent;
  --scrollbar-auto-thumb: #ccc;
  --scrollbar-auto-track: #f2f2f2;
  --scrollbar-auto-scrollbar-color-thumb: #e3e5e8;
  --scrollbar-auto-scrollbar-color-track: #f2f3f5;

  --elevation-stroke: 0 0 0 1px rgba(6,6,7,0.08);
  --elevation-low: 0 1px 0 rgba(6,6,7,0.1),0 1.5px 0 rgba(6,6,7,0.025),0 2px 0 rgba(6,6,7,0.025);
  --elevation-medium: 0 4px 4px rgba(0,0,0,0.08);
  --elevation-high: 0 8px 16px rgba(0,0,0,0.16);

  --logo-primary: #7289da;
  --control-brand-foreground: #7289da;

  --background-mentioned: rgba(250,166,26,0.1);
  --background-mentioned-hover: rgba(250,166,26,0.2);
  --background-message-hover: rgba(6,6,7,0.02);

  --channels-default: #6a7480;

  --guild-header-text-shadow: 0 1px 1px hsla(0,0%,100%,0.4);
  --channeltextarea-background: #ebedef;

  --activity-card-background: #fff;
  --textbox-markdown-syntax: #6a7480;

  --deprecated-card-bg: #f8f9f9;
  --deprecated-card-editable-bg: rgba(246,246,247,0.6);
  --deprecated-store-bg: #f8f9f9;

  --deprecated-quickswitcher-input-background: #fff;
  --deprecated-quickswitcher-input-placeholder: rgba(79,84,92,0.3);

  --deprecated-text-input-bg: rgba(79,84,92,0.02);
  --deprecated-text-input-border: rgba(79,84,92,0.3);
  --deprecated-text-input-border-hover: #b9bbbe;
  --deprecated-text-input-border-disabled: #dcddde;
  --deprecated-text-input-prefix: #b9bbbe;
}

.guilds-1SWlCJ{background-color:var(--serverlist-background)}
.members-1998pB, .members-1998pB>div{background-color:var(--memberlist-background)}
#app-mount .sidebar-2K8pFh, .container-3w7J-x {background-color: transparent;}
.panels-j1Uci_ {background-color: var(--background-secondary);
}
.powercord-toast .contents{background-color:var(--toast-content)}

.bg-h5JY_x {
  background-color: var(--app-background);
}
.platform-win .sidebar-2K8pFh {
  border-radius: 0px;
  bottom: 10px;
}
.searchHeader-2XoQg7 > div:nth-child(2) {
  order:-1;
}

/*  ----------------------------------------------------
                  Optional Features
        Add A "/*" On The Lines Below The Comments
                  To Disable Them
    ----------------------------------------------------  */

/* --- */
/* Optionals End */
/* ----- */

/*  ----------------------------------------------------
         ANYTHING ELSE YOU WANT TO ADD GOES BELOW
               THIS IS FOR DEBUGGING ETC
                    v0.3.2 (Fluidcord)
    ----------------------------------------------------  */


.titleBar-AC4pGV > :nth-child(2):hover{background-color:#b64537}
.titleBar-AC4pGV > :nth-child(3):hover{background-color:#d6ac2c}
.titleBar-AC4pGV > :nth-child(4):hover{background-color:#24d324}
.container-2lgZY8{margin-top:5px}
.wordmark-2iDDfm:after{color:#f7f5f5;content:"Discord";font-size:15px;font-weight:700;position:absolute;width:4000px;top:8.8px;left:11px}
.theme-light .wordmark-2iDDfm:after{color:#303030}
.theme-dark .wordmark-2iDDfm:after{color:#f7f5f5}
.wordmark-2iDDfm > svg{width:0}
.winButton-iRh8-Z{position:relative;top:-4px;cursor:pointer;width:32px;height:30px;pointer-events:auto;-webkit-app-region:no-drag}
.container-1r6BKw.themed-ANHk51{height:50px}
.content-yTz4x3 > div:nth-child(2){order:-1}
.layout-2DM8Md .wrapper-3t9DeA{width:62px;height:62px;position:relative;border-radius:0}
.layout-2DM8Md .mask-1l8v16.svg-2V3M55{display:block;right:-20px;bottom:-11px;width:55px;height:55px}
.member-3-YXUe.container-2Pjhx-.clickable-1JJAn8 .layout-2DM8Md,.selected-aXhQR6 .layout-2DM8Md{height:60px}
.layout-2DM8Md .wrapper-3t9DeA,.avatar-3uk_u9{width:15px;margin:0;margin-left:20px}
.content-3QAtGj{margin-left:25.5px}
#app-mount .wrapper-3t9DeA .mask-1l8v16 > rect[x="22"]{display:none}
#app-mount .wrapper-3t9DeA foreignObject{-webkit-mask:none;mask:none;border-radius:var(--avatar-border-radius)}
.membersGroup-v9BXpm{padding:24px 8px 0 16px;height:40px;font-size:13px;margin-left:0;font-family:var(--font-primary)}
[class="dots-3Bkt3k"]{top:20px!important}
.member-3-YXUe.container-2Pjhx-.clickable-1JJAn8 .layout-2DM8Md,.selected-aXhQR6 .layout-2DM8Md{width:245px}
.container-1r6BKw.themed-ANHk51,.chat-3bRxxu{border-radius:12px 0 0 0!important}
#app-mount .guilds-1SWlCJ .svg-1X37T1,#app-mount .guilds-1SWlCJ .wrapper-25eVIn,#app-mount .guilds-1SWlCJ .guildsError-b7zR5H,#app-mount .guilds-1SWlCJ .placeholderMask-3K9THS foreignObject{mask:none}
.full-motion .scale-3iLZhb.didRender-33z1u8{-webkit-transition:opacity .12s ease-out,-webkit-transform .12s ease-out;transition:opacity .12s ease-out,-webkit-transform .12s ease-out;transition:transform .12s ease-in-out,opacity .12s ease-out;transition:transform .12s ease-out,opacity .12s ease-out,-webkit-transform .12s ease-out;-webkit-transform:scale(1);transform:scale(1);opacity:1}
.status-1fhblQ,.description-2L932D{display:none}
.separator-2I32lJ{display:none}
.mask-1qbNWk.icon-1IxfJ2{--status-icon-size:105%;height:var(--status-icon-size);width:var(--status-icon-size);stroke-width:59!important;transform:scale(1.1,1.1)}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8 > .menu-3sdvDG.styleFixed-sX-yHV > .scroller-3BxosC.thin-1ybCId.scrollerBase-289Jih{display:grid;align-items:center;grid-template-columns:auto auto auto auto;visibility:visible}
.item-1tOPte.colorDefault-2K3EoJ:nth-of-type(7){grid-column:1/5}
.animatorTop-2Y7x2r.scale-3iLZhb.didRender-33z1u8{transition:opacity .15s linear 0}
.customText-tY5LJn{font-size:15px}
.statusItem-33LqPf[aria-label="Set a custom status"]{display:none}
.statusItem-33LqPf[aria-label="Show Game Activity"]{display:none}
.menu-3sdvDG{background-color:var(--status-bg)!important;border-radius:12px}
div[class*=colorDefault-].focused-3afm-j,div[class*=colorDefault-].focused-3afm-j:active,div[class*=colorDefault-]:active:not(.hideInteraction-1iHO1O){background-color:transparent!important;color:#fff!important}
.colorDefault-2K3EoJ{margin-left:10px}
@keyframes smooth-up1 {
0%{top:10px}
25%{top:0}
50%{top:0}
75%{top:0}
100%{top:0}
}
.statusItem-33LqPf,#app-mount #status-picker{position:relative;margin-left:-3px;margin-bottom:-4px;animation-name:smooth-up1;animation-duration:4s}
.mask-1qbNWk.icon-1IxfJ2{border-radius:50%!important}
.statusItem-33LqPf foreignObject{mask:none}
.layer-v9HyYc{margin-bottom:15px}
.childWrapper-anI2G9,.wrapper-1BJsBx,.wrapper-25eVIn{width:48px;height:48px;z-index:99999;position:relative}
.members-1998pB,.members-1998pB>div{width:280px}  

:root {
    --server-size: var(--HSL-server-icon-size, var(--HSL-size, 35px));
    --server-spacing: var(--HSL-server-spacing, var(--HSL-spacing, 10px));
    --server-container: calc(var(--server-size) + 30px);
  }
  
  #app-mount .app-1q1i1E .base-3dtUhz {
    top: var(--server-container) !important;
    position: absolute !important;
    left: 0 !important;
    right: 0;
    bottom: 0;
  }
  #app-mount .sidebar-2K8pFh {
    border-radius: 0;
  }
  #app-mount [class*=unreadMentionsIndicator] {
    width: var(--server-size);
    padding: 0;
    left: 45%;
    height: 20px !important;
    width: 40px;
    z-index: 99999;
    transform: translateX(-50%);
    height: auto;
  }
  #app-mount .guilds-1SWlCJ {
    transform-origin: top left;
    transform: rotate(-90deg);
    height: 240px;
    width: 80px;
    top: 215px;
    z-index: 999;
    left: 0;
  }

.scroller-1JbKMe {
  margin-top: 00px;
  background-color: var(--background-tertiary);
}
.resultsGroup-r_nuzN {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 30px;
  margin-top: -0px;
}
.searchBar-6Kv8R2 {
  position: absolute;
  display: fixed;
  z-index: 999999999;
  top: 0px !important;
  width: 30px;
}
.channel-2QD9_O {
  position: relative;
  max-width: 224px;
  margin-left: 8px;
  margin-bottom: 5px;
}
.icon-27yU2q, .wrapper-1BJsBx[aria-label="Home"], .childWrapper-anI2G9, .wrapper-1BJsBx, .wrapper-25eVIn {
  border-radius: var(--avatar-border-radius);
  height: 48px;
  width: 48px;
}
.searchBar-3dMhjb {
  display: fixed;
  height: 35px;
  width: 220px;
  position:fixed;
  left: 10px;
  top: 43px;
  border-radius: 4px;
  color: var(--text-normal);
  background-color: #fdfcfc;
}
.theme-dark .searchBar-3dMhjb {
  display: fixed;
  height: 35px;
  width: 220px;
  position:fixed;
  left: 10px;
  top: 43px;
  border-radius: 4px;
  color: var(--text-normal);
  background-color: var(--background-primary);
}
.container-3ayLPN {
  left: -1520px;
  top: q10px;
  position: relative;
}
.DraftEditor-editorContainer, .search-2oPWTC .DraftEditor-root .public-DraftEditor-content, .search-2oPWTC .DraftEditor-root .public-DraftEditorPlaceholder-root, .searchBar-3dMhjb .icon-38sknP {
  margin-top: 5px;
  margin-left: 3px;
}
.focused-31_ccS .searchBar-3dMhjb, .open-6_Y_aH .searchBar-3dMhjb {
  width: 222px;
}
.theme-light .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
}
.theme-dark .searchBar-6Kv8R2 .searchBarComponent-32dTOx {
  width: 100%;
  height: 40px;
  overflow: hidden;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: rgb(19, 17, 17);
}
.platform-win .layer-3QrUeG {
  top: -100px;
}
#app-mount .sidebar-2K8pFh {
  border-radius: 0;
  margin-top: 128px;
  display: fixed;
}
.content-98HsJk {
  background-color: var(--background2);
}
  #app-mount .guilds-1SWlCJ .scrollerWrap-1IAIlv {
    width: calc(100% + 30px);
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih {
    padding-top: 0 !important;
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh) {
    height: auto !important;
  }
  #app-mount .guilds-1SWlCJ .scrollerBase-289Jih > div[style]:not(.listItem-2P_4kh)[style*="height: 0px"] {
    padding-top: 1px;
  }
  #app-mount .guilds-1SWlCJ .svg-1X37T1,
  #app-mount .guilds-1SWlCJ .wrapper-25eVIn,
  #app-mount .guilds-1SWlCJ .guildsError-b7zR5H,
  #app-mount .guilds-1SWlCJ .placeholderMask-3K9THS {
    width: var(--server-size);
    height: var(--server-size);
  }
  #app-mount .guilds-1SWlCJ [role=group] {
    height: auto !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] {
    transform: rotate(90deg) translateY(-50%);
    height: var(--server-size);
    width: 4px;
    top: calc(var(--server-size) / -1 + var(--server-size) / 2 - 8px) !important;
    margin-left: -2px;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span {
    height: 100% !important;
    width: 4px !important;
    transform: scale(0, 1) !important;
    transition: 0.15s ease !important;
    margin-left: 0;
    border-radius: 0 4px 4px 0;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 0"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 1"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 2"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 3"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 4"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 5"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 6"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 7"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 8"] {
    transform: scale(1, 0.24) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 9"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 10"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 11"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 12"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 13"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 14"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 15"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 16"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 17"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 18"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 19"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 20"] {
    transform: scale(1, 0.7) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 21"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 22"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 23"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 24"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 25"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 26"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 27"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 28"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 29"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 30"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 31"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 32"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 33"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 34"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 35"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 36"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 37"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 38"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 39"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ [class*=pill] span[style*="height: 40"] {
    transform: scale(1, 1) !important;
  }
  #app-mount .guilds-1SWlCJ .wrapper-sa6paO {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-1SWlCJ .wrapper-21YSNc,
  #app-mount .guilds-1SWlCJ .wrapper-3Njo_c {
    width: var(--server-container);
  }
  #app-mount .guilds-1SWlCJ [class*=listItem]:not([class*=listItemWrapper]) {
    width: var(--server-size);
    transform: rotate(90deg);
    margin: var(--server-spacing) 10px;
    position: unset;
  }
  #app-mount .guilds-1SWlCJ [class*=guildSeparator] {
    transform: rotate(90deg);
    width: var(--server-size);
  }
  .svg-1X37T1 {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 58px;
    height: 70px;
}
  #app-mount .guilds-1SWlCJ [class*=expandedFolderBackground] {
    width: var(--server-size);
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
  }
  #app-mount .guilds-1SWlCJ .folder-21wGz3 {
    background: transparent;
  }
  #app-mount [class*=listItemTooltip] {
    position: absolute;
    max-width: unset;
    white-space: nowrap;
    margin-left: calc(var(--server-size) / -1 - 20px);
    top: calc(var(--server-size) - 10px);
  }
  #app-mount [class*=listItemTooltip] [class*=tooltipPointer] {
    transform: rotate(180deg);
    top: -5px;
    right: unset;
    left: 13px;
    z-index: 1;
  }
  #app-mount .friendsOnline-2JkivW {
    position: absolute;
    transform: translate(-50%, 50%);
    top: calc(-50% + var(--server-spacing));
    left: calc(-50%);
    width: calc(var(--server-size) + var(--server-spacing));
    display: flex;
    justify-content: center;
  }
  #app-mount .guilds-1SWlCJ.content-Pph8t6, #app-mount .BF-folderSidebar {
    position: absolute !important;
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-1SWlCJ.content-Pph8t6:not(.closed-j55_T-) + .base-3dtUhz, #app-mount .BF-folderSidebar:not(.closed-j55_T-) + .base-3dtUhz {
    top: calc(var(--server-container) * 2) !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] {
    height: var(--server-size) !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .wrapper-1BJsBx {
    height: 100% !important;
  }
  #app-mount .guilds-1SWlCJ .frame-oXWS21[class*=listItem] .button-Jt-tIg {
    width: 100%;
    height: 100% !important;
    border-radius: 50%;
    padding: 2px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  #app-mount .BF-folderSidebar {
    top: calc(var(--server-container)) !important;
  }
  
  html.platform-osx #app-mount .typeMacOS-3EmCyP {
    width: 100%;
  }
  html.platform-osx #app-mount .base-3dtUhz {
    top: calc(var(--server-container) + 30px) !important;
  }
  html.platform-osx #app-mount #pluginNotice {
    top: 32px;
    z-index: 100000 !important;
  }
  body.foldercontentopened .base-3dtUhz {
    transition: 0.2s ease !important;
  }



.panels-j1Uci_ {
   border-radius: 12px;
   margin: 5px;
   position: absolute;
   bottom: 0px;
   width: 230px;
   background: var(--memberlist-background);
}
.colorDefault-2K3EoJ.focused-3afm-j .checkbox-3s5GYZ, div[class*=colorDefault].focused-3afm-j {
  color: white!important;
  background-color: transparent !important;
}



    .actionButtons-14eAc_ .contents-18-Yxp, .inner-tyMogq {
      margin-left: -31px;
    }

  .headerTop-2y3V6H {
    background-color: transparent;
    margin-top: 0px;
  }
  .nameTag-m8r81H .discriminator-19kRMP, .nameTag-m8r81H .username-2b1r56, .headerTagDiscriminatorNoNickname-1jiWtJ.discrimBase-1PEDoA, .bsi-clientStatuses, .bsi-statusIcon {
    display: block;
    height: 23px;
}
  .userSelectText-1o1dQ7 {
    margin-left: 12px;
  }
  .avatarPositionNormal-1CZUPk {
    top: 20px;
    margin-left: 10px;
}
.profileBadges-1dm1_q, .spinner-3YTkt9 {
  position: absolute;
  top: 15px;
  right: 22.5px;
}

.buttonsWrapper-2spIeK {
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.contentRegionScroller-26nc1e, .sidebarRegionScroller-3MXcoP, .contentTransitionWrap-3hqOEW {
  margin-top: 50px;
}
